body {
    background-color: #800000;
    text-align: center;
    color: #FFFFFF

}

h1 {
    text-align: center;

}
 
span{

    background-color: #800000

}


img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  height: 280px;
  width: 290px;
}


